.hero-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 auto;
  width: 100%;
}

.hero-header__links {
  padding: 0 3rem;
}

@media screen and (max-width: 900px) {
  .hero-header__links {
    display: none;
  }

  .hero-header {
    justify-content: center;
  }
}

.hero-header__link {
  padding: 0 3rem;
  font-size: 2.2rem;
  text-decoration: none;
  font-family: Archivo-Medium;
  text-transform: uppercase;
}

.hero-header__link,
.hero-header__link:visited,
.hero-header__link:link {
  color: #5a4f4b;
}

.hero-header__link:hover,
.hero-header__link:active {
  color: #f06b23;
}

.hero-header__logo {
  width: 24rem;
}
