.hero-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hero-header__logo {
  width: 24rem;
  margin: 0 20rem;
}

@media screen and (max-width: 1300px) {
  .hero-header__logo {
    margin: 0 10rem;
  }
}

@media screen and (max-width: 1300px) {
  .hero-header__logo {
    margin: 0 10rem;
  }
}

@media screen and (max-width: 900px) {
  .hero-header__logo {
    width: 18rem;
  }
}

.hero-header__links {
  font-size: 2.2rem;
}

@media screen and (max-width: 900px) {
  .hero-header__links {
    display: none;
  }
}

.hero-header__link,
.hero-header__link:link,
.hero-header__link:visited {
  text-decoration: none;
  color: black;
  padding: 3rem;
  font-family: Archivo-Medium;
  text-transform: uppercase;
}

.hero-header__link:active,
.hero-header__link:hover {
  color: rgb(241, 98, 2);
}
