.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  padding: 6rem 0 6rem;
  background-color: #f4f1ed;
  overflow: hidden;
  position: relative;
}
.header__menu-icon {
  display: none;
}

.drone-image {
  width: 40rem;
  padding-top: 6rem;
}

.drone-shadow {
  width: 34rem;
  margin-bottom: -18rem;
}

@media screen and (max-width: 900px) {
  .drone-image {
    padding-top: 10rem;
  }

  .drone-shadow {
    padding-bottom: 3rem;
  }

  .header__menu-icon {
    display: block;
  }
}
