.contact-form-section {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  /* justify-content: space-around; */
  align-items: center;
  padding: 1rem 3rem 30rem;
  position: relative;
}

.contact-form__logo {
  width: 24rem;
}

.contact-form__button-offset {
  width: 40%;
  text-align: left;
}
